.App {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.tasks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}